.button_gradient {
  width: 360px;
  height: 50px;
  border-radius: 15px;
  background: rgb(204, 236, 255);
  background: linear-gradient(
    148deg,
    rgba(204, 236, 255, 1) 17%,
    rgba(255, 253, 255, 1) 51%,
    rgba(248, 213, 255, 1) 93%
  );
  border: none;
  margin-top: 10px;

  position: fixed;
  bottom: 10px;

  font-size: 18px;
  font-weight: 600;
}
