.button_gradient {
  width: 97%;
  height: 50px;
  border-radius: 0.75rem;
  background: rgb(204, 236, 255);
  background: linear-gradient(
    148deg,
    rgba(204, 236, 255, 1) 17%,
    rgba(255, 253, 255, 1) 51%,
    rgba(248, 213, 255, 1) 93%
  );
  border: none;
  margin-top: 10px;

  position: fixed;
  bottom: 10px;

  font-size: 18px;
  font-weight: 500;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.01);
    transition: transform 0.5s;
  }
}
